@page "/"

<PageTitle>home - library.</PageTitle>

<div class="flex flex-col md:flex-row w-full">
    <div class="md:w-1/2">
        <h1 class="text-4xl md:text-6xl">welcome to library.</h1>
        <p class="mt-5 md:mt-12 text-xl">
            lets do some crud on some books.
        </p>
    </div>
    <div class="md:w-1/2">
        <img src="images/christin-hume-k2Kcwkandwg-unsplash.jpg" alt="reaching for book" class="w-full object-cover rounded-lg shadow-md mt-14 md:mt-0">
    </div>
</div>