<div class="flex flex-row justify-end py-5 px-5">
    <p>
        image credit:
        <a href="https://unsplash.com/@@christinhumephoto" target="_blank" rel="noopener noreferrer" class="hover:underline">
            christin hume
        </a>| library @ThisYear.
    </p>
</div>

@code {
    private string ThisYear => DateTime.Now.Year.ToString();
}