@inherits LayoutComponentBase
<div class="w-full min-h-screen bg-customBlue">
    <Spinner></Spinner>
    <CascadingValue Value="_showInfoModal" Name="ShowInfoModalState">
        <CascadingValue Value="ToggleInfoModal" Name="ToggleInfoModalAction">
            <CascadingValue Value="_showMenu" Name="ShowMenuState">
                <CascadingValue Value="ToggleMenu" Name="ToggleMenuAction">
                    <NavMenu/>
                    <div class="pt-5 md:mt-20 flex flex-col min-h-screen">
                        <main class="flex-grow">
                            <article class="content px-5">
                                @Body
                            </article>
                        </main>
                        <Footer></Footer>
                    </div>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    private bool _showMenu;
    private bool _showInfoModal;

    private void ToggleMenu()
    {
        _showMenu = !_showMenu;
    }

    private void ToggleInfoModal()
    {
        _showInfoModal = !_showInfoModal;
    }

}