@inherits LayoutComponentBase

<div class="w-full min-h-screen bg-customBlue">
    <Spinner></Spinner>
    <NavMenu ShowMenu="@ShowMenu" ToggleMenu="@ToggleMenu"/>
    <div class="pt-5 md:mt-20 flex flex-col min-h-screen">
        <main class="flex-grow">
            <article class="content px-5">
                @Body
            </article>
        </main>
        <Footer></Footer>
    </div>
</div>

@code {
    public bool ShowMenu;

    private void ToggleMenu()
    {
        ShowMenu = !ShowMenu;
    }

}