@inherits LayoutComponentBase

<div class="bg-custom-bg w-full h-screen">
    <div class="drop-shadow-md">
        <NavMenu/>
    </div>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>