@inherits LayoutComponentBase

<div class="w-full h-screen bg-customWhite">
    <div class="">
        <NavMenu/>
    </div>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>