<div>
    <h1>Navmenu</h1>
    <p>This is the navmenu.</p>
    <ul>
        <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="counter">Counter</NavLink></li>
        <li><NavLink href="fetchdata">Fetch data</NavLink></li>
    </ul>
</div>

@code {
}