@using Microsoft.AspNetCore.Components.Web

<div class="flex flex-row font-standard text-customYellow justify-between py-5 px-5 items-center">
    <div>
        <h1 class="mr-3 text-2xl md:text-3xl hover:underline">
            <NavLink href="">library.</NavLink>
        </h1>
    </div>
    <div class="w-full mx-4 hidden md:block md:ml-10">
        <Searchbar/>
    </div>
    <div>
        <ul class="flex flex-col md:flex-row text-2xl md:text-3xl ">
            <li class="mr-3">
                <button @onclick="ToggleMenu" class="hover:underline">menu.</button>
            </li>
        </ul>
    </div>
</div>

<div class="sm:w-full block md:hidden py-5 px-5 items-center">
    <Searchbar/>
</div>

@if (ShowMenu)
{
    <MenuModal ShowMenu="@ShowMenu" ToggleMenu="@ToggleMenu"/>

}

@code {

    [Parameter]
    public bool ShowMenu { get; set; }

    [Parameter]
    public Action ToggleMenu { get; set; }

}