<div class="flex flex-row font-english text-black justify-between bg-white py-5 px-5">
    <div>
        <h1 class="text-xl md:text-4xl">Ye olde library</h1>
    </div>
    <div>
        <ul class="flex flex-col md:flex-row text-xl md:text-4xl">
            <li class="mr-3 hover:underline"><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
            <li class="mr-3 hover:underline"><NavLink href="books">Books</NavLink></li>
        </ul>
    </div>
</div>

@code {
}